@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.button-overrides((
    filled-container-shape: '6px',
    outlined-container-shape: '6px', 
  ));
  @include mat.badge-overrides((
    background-color: rgb(169, 169, 169),
  ));
}

.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch {
  border-right-style: none !important;
}

.snack-error{
  @include mat.snack-bar-overrides((
    button-color: white,
    container-color: rgb(255, 68, 0),
    supporting-text-color: white,
  ));
}
.snack-success{
  @include mat.snack-bar-overrides((
    button-color: white,
    container-color: rgb(53, 149, 53),
    supporting-text-color: white,
  ));
}